.main{
    width: 100%;
    height: 565px;
    background-repeat: no-repeat;
    background-size:cover ;
}


@media (max-width:430px){
    .main{
        background-position: -480px;
        height: 100vh;
    }
}